.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: $background-landing;
  padding-top: 95px;
  height: 85vh;

  &__image {
    width: 250px;
    height: 63px;
    margin-bottom: 35.4px;
  }

  &__title {
    font-size: 19.2px;
    font-family: $font-titleLanding;
    font-weight: 900;
    color: $color-secondary;
  }

  &__text {
    max-width: 264px;
    text-align: center;
    margin-bottom: 17.8px;
    font-size: 12.8px;
    font-weight: normal;
    color: $color-tertiary;
    font-family: $font-principal;
  }

  &__menu {
    max-width: 268px;
    border: $border-menu solid 1.6px;
    border-radius: 4px;
    margin-bottom: 38.6px;    
  }

  &__button {
    display: block;
    margin-bottom: 30px;
    background: $background-button;
    min-height: 42px;
    width: 129px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-principal;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration-line: none;
    text-transform: uppercase;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin: 15px 0 10px;
    max-width: 75px;
    height: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;


    &--fav {
      width: 32px;
      font-size: 22.4px;
      color: $color-secondary;
      text-align: center;

    }

    &--text {
      width: 50px;
      font-size: 12.8px;
      font-family: $font-principal;
      color: $color-primary;
      font-weight: normal;
      text-align: center;

    }
  }
}

@media all and (min-width: 768px) {
  .landing {
    
    padding: 340px 0 59px 0;
    height: 100%;

    &__image {
      width:419px;
      height: 105px;
      margin-bottom: 31px;
    }

    &__title {
      font-size: 24px;
    }

    &__text {
      max-width: 331px;
      margin-bottom: 27px;
      font-size: 16px;
    }

    &__menu {
      //max-width: 325px;
      width: 325px;
      border: $border-menu solid 2px;
      border-radius: 5px;
      margin-bottom: 186px;
    }
  }

  .menu {
    &__item {
      //max-width: 75px;
      width: 75px;
      

      &--fav {
        font-size: 28px;
      }

      &--text {
        width: 55px;
        font-size: 16px;
      }
    }
  }
}
