<li class="input__design">
  <div class="design-box">
    <div class="design-box__header">
      <i
        class="far fa-object-ungroup design-box__icon"
        style="color:#e17334;"
      ></i>
      <h2 class="design-box__heading">diseña</h2>
      <button class="design-box__toggle-btn">
        <i class="fas fa-angle-down"> </i>
      </button>
    </div>
    <div class="design-box__body">
      <h3 class="design-box__title">colores</h3>
      <div class="design-box__themes">
        <div class="design-box__theme" for="color1">
          <input id="color1" type="radio" value="color1" name="color-palette" />
          <div class="colors__container">
            <div class="colors colors--green1"></div>
            <div class="colors colors--green2"></div>
            <div class="colors colors--green3"></div>
          </div>
        </div>
        <div class="design-box__theme" for="color2">
          <input id="color2" type="radio" value="color2" name="color-palette" />
          <div class="colors__container">
            <div class="colors colors--red1"></div>
            <div class="colors colors--red2"></div>
            <div class="colors colors--red3"></div>
          </div>
        </div>
        <div class="design-box__theme" for="color3">
          <input id="color3" type="radio" value="color3" name="color-palette" />
          <div class="colors__container">
            <div class="colors colors--gray1"></div>
            <div class="colors colors--gray2"></div>
            <div class="colors colors--gray3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
