<li class="input__design">
  <div class="fill__collapsible">
    <div class="collapsible__left">
      <i class="collapsible__left--fav far fa-object-ungroup"></i>
      <h2 class="collapsible__left--title">Diseña</h2>
    </div>
    <i class="collapsible--arrow fas fa-angle-down"></i>
  </div>
  <div class="design-box">
    <h3 class="design-box__title">Colores</h3>
    <div class="design-box__themes">
      <div class="design-box__theme" for="color1">
        <input id="color1" type="radio" value="color1" name="color-palette" />
        <div class="colors__container">
          <div class="colors colors--green1"></div>
          <div class="colors colors--green2"></div>
          <div class="colors colors--green3"></div>
        </div>
      </div>
      <div class="design-box__theme" for="color2">
        <input id="color2" type="radio" value="color2" name="color-palette" />
        <div class="colors__container">
          <div class="colors colors--red1"></div>
          <div class="colors colors--red2"></div>
          <div class="colors colors--red3"></div>
        </div>
      </div>
      <div class="design-box__theme" for="color3">
        <input id="color3" type="radio" value="color3" name="color-palette" />
        <div class="colors__container">
          <div class="colors colors--gray1"></div>
          <div class="colors colors--gray2"></div>
          <div class="colors colors--gray3"></div>
        </div>
      </div>
    </div>
  </div>
</li>