<form action="#" method="post"></form>
<li class="input__design">
  <partial src="_collapsible.html" far="far" icon="fa-object-ungroup" text="Diseña"></partial>
  <div class="design-box">
    <h3 class="design-box__title">Colores</h3>
    <div class="design-box__themes">
      <div class="design-box__theme" for="color1">
        <input id="color1" type="radio" value="color1" name="color-palette" />
        <div class="colors__container">
          <div class="colors colors--green1"></div>
          <div class="colors colors--green2"></div>
          <div class="colors colors--green3"></div>
        </div>
      </div>
      <div class="design-box__theme" for="color2">
        <input id="color2" type="radio" value="color2" name="color-palette" />
        <div class="colors__container">
          <div class="colors colors--red1"></div>
          <div class="colors colors--red2"></div>
          <div class="colors colors--red3"></div>
        </div>
      </div>
      <div class="design-box__theme" for="color3">
        <input id="color3" type="radio" value="color3" name="color-palette" />
        <div class="colors__container">
          <div class="colors colors--gray1"></div>
          <div class="colors colors--gray2"></div>
          <div class="colors colors--gray3"></div>
        </div>
      </div>
    </div>
  </div>
</li>
<li class="fill">
  <partial src="_collapsible.html" far="far" icon="fa-keyboard" text="Rellena"></partial>
  <div class="fill__form">
    <label class="form--lable" for="name">Nombre completo</label>
    <input class="form--box" type="text" id="name" name="name" placeholder="Ej: Sally Jill" required />
    <label class="form--lable" for="surnames">Puesto</label>
    <input class="form--box" type="text" id="surnames" name="surnames" placeholder="Ej: Front-end unicorn" required />
    <label class="form--lable" for="image">Imagen de perfil</label>
    <div class="form--image">
      <a class="form--image--button">Añadir imagen</a>
      <div class="form--image--miniature"></div>
    </div>
    <label class="form--lable" for="email">Email</label>
    <input class="form--box" type="email" id="email" name="email" placeholder="Ej: sally-hill@gmail.com" required />
    <label class="form--lable" for="phone">Teléfono</label>
    <input class="form--box" type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55-55" required />
    <label class="form--lable" for="linkedin">Linkedin</label>
    <input class="form--box" type="text" id="linkedin" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill"
      required />
    <label class="form--lable" for="github">Github</label>
    <input class="form--box" type="text" id="github" name="github" placeholder="Ej: @sally-hill" required />
    </form>
  </div>
</li>
<li class="share">
  <partial src="_collapsible.html" far="fas" icon="fa-share-alt" text="Comparte"></partial>
  <button class="share__btn"><i class="far fa-address-card"></i>Crear tarjeta</button>
</li>
