<li class="input__fill">
    <i class="far fa-keyboard"></i>rellena<i class="fas fa-angle-down"></i></i>
    <fieldset>
        <label for="name">Nombre completo</label>
        <input type="text" id="name" name="name" placeholder="Ej: Sally Jill" />
        <label for="surnames">Puesto</label>
        <input type="text" id="surnames" name="surnames" placeholder="Ej: Front-end unicorn" />
        <label for="image">Imagen de perfil</label>
        <button class="addImage">Añadir imagen</button>
        <input type="button" id="image" name="image" />
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Ej: sally-hill@gmail.com" />
        <label for="phone">Teléfono</label>
        <input type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55-55" />
        <label for="linkedin">Linkedin</label>
        <input type="text" id="linkedin" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" />
        <label for="github">Github</label>
        <input type="text" id="github" name="github" placeholder="Ej: @sally-hill" />
    </fieldset>
</li>