<li class="fill">
  <div class="fill__collapsible">
    <div class="collapsible__left">
      <i class="collapsible__left--fav far fa-keyboard"></i>
      <h2 class="collapsible__left--title">Rellena</h2>
    </div>
    <i class="collapsible--arrow fas fa-angle-down"></i>
  </div>
  <form class="fill__form" action="#" method="post">
    <label class="form--lable" for="name">Nombre completo</label>
    <input class="form--box" type="text" id="name" name="name" placeholder="Ej: Sally Jill" />
    <label class="form--lable" for="surnames">Puesto</label>
    <input class="form--box" type="text" id="surnames" name="surnames" placeholder="Ej: Front-end unicorn" />
    <label class="form--lable" for="image">Imagen de perfil</label>
    <div class="form--image">
      <a class="form--image--button">Añadir imagen</a>
      <div class="form--image--miniature"></div>
    </div>
    <label class="form--lable" for="email">Email</label>
    <input class="form--box" type="email" id="email" name="email" placeholder="Ej: sally-hill@gmail.com" />
    <label class="form--lable" for="phone">Teléfono</label>
    <input class="form--box" type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55-55" />
    <label class="form--lable" for="linkedin">Linkedin</label>
    <input class="form--box" type="text" id="linkedin" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" />
    <label class="form--lable" for="github">Github</label>
    <input class="form--box" type="text" id="github" name="github" placeholder="Ej: @sally-hill" />
  </form>
</li>
