<section class="preview">
  <div class="preview__container">
    <button class="preview__reset">
      <i class="far fa-trash-alt preview__icon"></i>reset
    </button>
    <article class="preview__display">
      <header class="preview__display--header">
        <div>
          <h3 class="preview__display--title">Nombre Apellidos</h3>
          <h3 class="preview__display--subtitle">Profesión</h3>
        </div>
      </header>
      <div class="preview__display--img"></div>
      <footer class="preview__display--footer menu">
        <ul class="menu__list">
          <li class="menu__items menu__items--phone">
            <a class="menu__links js-link-phone" href="" target="_blank">
              <i class="fas fa-mobile-alt"></i>
            </a>
          </li>
          <li class="menu__items menu__items--email">
            <a class="menu__links js-link-email" href="" target="_blank">
              <i class="far fa-envelope"></i>
            </a>
          </li>
          <li class="menu__items menu__items--linkedin">
            <a class="menu__links js-link-linkdedin" href="" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="menu__items menu__items--github">
            <a class="menu__links js-link-github" href="" target="_blank">
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
        </ul>
      </footer>
    </article>
  </div>
</section>