<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather%7CMontserrat%7COpen+Sans&display=swap"
    rel="stylesheet">
  <!-- FAVICON PARA CUANDO LO TENGAMOS <link rel="icon" href="./favicon.png" /> -->
  <link rel="stylesheet" type="text/css" href="./assets/css/main.css" />
  <title>Project module 2 Card web</title>
</head>

<body>
  <main>
    <div class="button">
      <a href="profile.html" text="btn__profile">Comenzar</a>
    </div>
  </main>

  <partial src="_footer.html"></partial>
</body>

</html>
