<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Project module 2 Card web page 2</title>
    <!-- FAVICON PARA CUANDO LO TENGAMOS <link rel="icon" href="./favicon.png" /> -->

    <link rel="stylesheet" type="text/css" href="./assets/css/pages/profile.css" />

    <link rel="stylesheet" type="text/css" href="./assets/css/main.css" />
  </head>
  <body>
    <main>
      <p>Aquí van cosas guays</p>
    </main>

    <footer>
      <partial src="_footer.html" text="Footer"></partial>
    </footer>
  </body>
</html>
