.preview__reset {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #54585a;
  align-self: flex-start;
  margin-bottom: 20px;
}

.preview__icon {
  margin-right: 8px;
}