.footer {
  // background-color: $background-footer;
  border-top: solid $bottomBorder 1px;
  display: flex;
  flex-direction: column;
  //flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 18px 0 20px 0;
  //height: 10vh;
  position: relative;



  &__paragraph {
    color: $colorQuaternary;
    opacity: 0.5;
    font-family: $fontPrimary;
    font-size: 14px;
  }

  &__logo {
    width: 103px;
    padding-top: 12px;
  }
}

@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
    height: 100%;


    &__logo {
      padding-top: 0;
    }
  }
}
