.header {
  position: relative;
  //height: 111px;
}

.header__logo {
  margin: 31px 40px 30px 79px;
 
  width: 201px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  // width: 62.5%;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
}