.preview {
  background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 35px 40px 45px;

  &__display--img {
    border: #000000 2px solid;
    width: 240px;
    height: 200px;
  }

  &__display {
    background-color: #fff;
    font-family: 'Montserrat';

    &--header {
      padding: 20px 0 10px;

      div {
        padding-left: 20px;
        border-left: 5px solid #438792;
      }
    }

    &--title {
      // quitar margin (reset) //
      margin: 0;
      margin-bottom: 4px;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: normal;
      color: #114e4e;
      text-transform: capitalize;
    }

    &--subtitle {
      // quitar margin (reset) //
      margin: 0;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: #54585a;
    }
  }
}

.preview__display--footer .menu__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
}

.menu__items {
  border: 2px solid #a2deaf;
  border-radius: 50%;
  margin-left: 10px;
}

.menu__links {
  display: flex;
  width: 25px;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #114e4e;
  text-decoration: none;
}