.share {
  border-bottom: $bottomBorder solid 1px;
  margin-bottom: 30px;
  padding-top: 25px;

  &__btn {
    background-color: $colorPrimary;
    color: $colorButton;
    text-transform: uppercase;
    width: 199px;
    height: 50px;
    border-radius: 12px;
    font-family: $fontPrimary;
    font-size: 18px;
    //font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);


  }

  &__icon {
    padding-right: 9px;
  }
}

.twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: red solid;

  &__title {
    color: $colorSecondary;
    font-size: 18px;
    font-family: $fontPrimary;
    font-weight: 600;
    text-align: center;
    border: #fabada solid;

  }

  &__link {
    color: $colorPrimary;
    font-size: 12px;
    font-family: $fontPrimary;
    font-weight: 600;
    text-align: center;
    border: springgreen solid;
  }

  &__button {
    background: #00a0f5;
    color: $colorButton;
    border-radius: 3px;
    width: 181px;
    height: 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  }
}
