.share {
  &__btn {
    background-color: $colorPrimary;
    color: $colorButton;
    text-transform: uppercase;
    width: 199px;
    height: 50px;
    border-radius: 12px;
    font-family: $fontPrimary;
    font-size: 18px;
    //font-weight: 600;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
  }
  &__icon {
  padding-right: 9px;
}
}
