//FONT FAMILYS

$font-principal: "OpenSans";
$font-card: "Montserrat";
$font-titleLanding: "Merriweather";

//FONT COLORS

$color-primary: #54585a;
$color-secondary: #e17334;
$color-tertiary: #114e4e;
$color-quaternary: #6b6b6b;

//BACKGROUND COLORS
$background-landing: #f5f5f5;
$background-footer: #ffffff;
$background-button: #438792;

//BORDER COLORS

$border-menu: rgba(225, 115, 52, 0.745);
$border-footer: #d8d8d8;
